.tablem {
  font-family: 'Libre Baskerville', serif;
  background: linear-gradient(135deg, #5B344B, #B28E7C, #E9AD5D);
  background-size: cover;
  border-bottom: 2px solid #f5a623;
  border-top: 2px solid #f5a623;
  margin: 0;
  gap: 40px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.6em;
}

.table-container {
  background-color: #ffffffe9;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(13, 13, 14, 0.4);
  width: 40%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.table-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(148, 228, 250, 0.4);
}

.table-title {
  font-size: 1.8em;
  color: #d35400;
  margin-bottom: 20px;
  font-weight: bold;
}

.table-container ul {
  list-style-type: square;
  padding-left: 20px;
  text-align: left;
}

.table-container ul li {
  margin-bottom: 15px;
}

.table-container ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.table-container ul li a:hover {
  color: #d35400;
  border-bottom: 2px solid #d35400;
}

@media (min-width: 100px) and (max-width: 1000px) {
  .table-container ul li {
    margin-bottom: 40px;
    font-size: 40px;
  }

  .table-container {
    width: 100%;
    padding: 40px;
  }

  .table-title {
    font-size: 60px;
  }
  .cont {
    font-size: 40px;
  }
}